[submodule "duft-server"]
	path = duft-server
	url = https://github.com/UCSF-IGHS/duft-server-django
[submodule "duft-config"]
	path = duft-config
	url = https://github.com/UCSF-IGHS/duft-config
[submodule "duft-docs"]
	path = duft-docs
	url = https://github.com/UCSF-IGHS/duft-docs
[submodule "duft-ui"]
	path = duft-ui
	url = https://github.com/UCSF-IGHS/duft-ui
[submodule "flowbite-react"]
	path = flowbite-react
	url = https://github.com/themesberg/flowbite-react

